*,*:after,*:before{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
    background-color: rgb(248, 192, 192);    
}

body{
    font-size: 18px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;

}
/* .maincontainer{
    display: flex;
    align-items: center;
    justify-content: center;
} */
.card{
    width: 350px;
    background: radial-gradient(#111 50%  #000  100%);
    /* overflow: hidden; */
    position: relative;
}


.card img{
    transform: scale(1.2);
    transition: all 0.4s ease-out;
}
.card:hover img{
    transform: scale(1.1) translateY(-20px);
    opacity: 0.3;
}

.content{
    position: absolute;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    text-align: center;
    color: #fff;
    font-size: 18px;
}
.imgcontainer{
    width: 300px;
    height: 300px;
}

.imgcontainer img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
h3{
    color: #fff;
}