* {
    width: 0;
    height: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    ;
}

.container {
    width: 100vw;
    height: auto;
    background-color: #022b1f;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    flex-wrap: wrap;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    background-color: #5B9C06;
    position: relative;
    border-radius: 15px;
    perspective: 60em;
    /*for actual size of flipping*/
    margin-top: 5rem;
    margin: 2rem;
}

.card-front,
.card-back {
    width: 400px;
    height: 400px;
    border: 5px solid black;
}

.card-back {
    position: relative;
    background-color: #B4DC7F;
    padding: 2rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.card-front {
    position: absolute;
    z-index: 1;
    transform-style: preserve-3d;
    transform-origin: left;
    border-radius: 15px;
    pointer-events: none;
    background-color: #2e5e1f;
    transition: 2s;
    color: white;
}

.card-front h2,
.card-back h2 {
    display: inline;
    padding: 5rem;
    padding-top: 5rem;
}

.card-front-image {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    padding: 2rem;
}

.card-back-image {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    padding: 2rem;
}


.card-front-image img{
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.card:hover .card-front {
    transform: rotateY(-180deg);
    transform-origin: left;
}

.card h2 {
    margin-top: 3rem;
}

#btn {
    border: none;
    color: rgb(0, 0, 0);
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    flex-direction: column;
    width: 100px;
    height: 50px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    align-content: center;
}

#btn {
    background-color: rgb(255, 255, 255); 
    color: black; 
    border: 1px solid #000000;
  }
  
  #btn:hover {
    background-color: #e7b64c;
    color: white;
  }
  