
  .services-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .services-header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .services-header h1 {
    font-size: 2.5em;
    color: #adbc9f;
  }
  
  .services-header p {
    font-size: 1.2em;
    color: #adbc9f;
  }
  
  .service-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .service {
    background-color: #b5ffb5;
    border:5px solid black;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    flex: 1 1 calc(50% - 20px);
    margin: 10px;
  }
  
  .service:hover {
    transform: scale(1.03);
  }
  
  .service-image img {
    width: 100%;
    height: auto;
  }
  
  .service-content {
    padding: 20px;
  }
  
  .service-content h2 {
    font-size: 1.5em;
    color: #283618;
    margin-bottom: 10px;
  }
  
  .service-content p {
    color: #606060;
    margin-bottom: 20px;
  }
  
  .service-content button {
    margin-left: 13rem;
    font-size: 1rem;
    background-color: #283618;
    color: #ffffff;
    border: 4px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .service-content button:hover {
    background-color: #506c38;
  }
  
  .services-footer {
    text-align: center;
    margin-top: 40px;
    color: #606060;
  }
  