.pitta-container {
    background-color: #f7d9ba;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.pitta-header {
    background-color: #333;
    text-align: center;
    padding: 20px;
    border-radius: 15px 15px 0 0;
}

.pitta-header h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    color: #ff8c00;
    border-radius: 5rem;
}

.pitta-images {
    display: flex;
    flex-direction: column;
    transform: translateX(30%);
}

.pitta-images img {

    width: 40%;
    height: 40%;
}

#pitarot {
    animation: rotation 10s infinite linear;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#pitaman {
    animation: updown 5s linear infinite;
    background-color: transparent;
}

@keyframes updown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0px);
    }
}

.pitta-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.pitta-intro {
    background-color: #df5b19;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    margin-top: 20px;
}

.pitta-description {
    background-color: #f7ca02;
    padding: 20px;
    text-align: justify;
    border-radius: 15px;
    margin: 20px;
    font-size: large;
}

.pitta-signs {
    background-color: #c6322f;
    padding: 20px;
    text-align: left;
    border-radius: 15px;
    margin: 20px;
}

.pitta-problems {
    background-color: #f3ac06;
    padding: 20px;
    text-align: left;
    border-radius: 0 0 15px 15px;
    margin-bottom: 20px;
}

.pitta-problems h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.pitta-problems ul {
    list-style-type: circle;
    padding-left: 20px;
}

.pitta-problems li {
    font-size: 18px;
    margin: 5px 0;
}

/* Animation keyframes */
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes updown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0px);
    }
}
