
.skin-bg-color{
  background-image:linear-gradient(rgb(113, 221, 113),rgb(220, 220, 126));
  padding-bottom: 2rem;
}
/* Main container */
.skin-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Background image */
.skin-bg-image {
  background-image: url("images/skin_bg.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.7); /* Adjust brightness for better readability */
}

/* Content overlay */
.skin-bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(169, 114, 101, 0.7);
  padding: 20px;
  border: 3px solid #000;
  width: 80%;
  max-width: 600px;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
}

#skin-h1 {
  font-size: 2.5rem;
  color: rgb(22, 28, 18);
  font-family: 'Bebas Neue';
  font-size: 5rem;
  text-align: center;
}

.skin-h2 {
  color: rgb(22, 28, 18);
  font-family: 'Source Sans 3';
  font-size: 30px;
}

#skin-content {
  margin-left: 150px;
  margin-right: 150px;
}

.skin-content-sec{
  padding-top: 50px;
  border-top:2px solid black;
}

.skin-btn {
background-color: #a4ab24;
text-align: center;
font-size: 16px;
margin: 4px 2px;
transition-duration: 0.4s;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
border-radius: 15px;
color: rgb(14, 43, 2); 
border: 1px solid #000000;
text-decoration:none;
}

a{
  text-decoration:none;
  }

.skin-btn:hover {
background-color: #304630;
color: rgb(107, 144, 108);
text-decoration: none;
}

