#type
{
    width: 500px;
    height: 500px;
    background-color: #cd6d6d;
    color: #020102;
}

#typewriter{
  background-color: rgb(236, 117, 117);
}

.head-1,
.head-2
{
    width: 100vw;
    height: 500px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(177, 248, 149);
}

.head-2
{
    background-color:transparent;
    font-size: 3rem;
    position: relative;
}

.head-2 span
{
background-color: black;
font-family: 'Teko', sans-serif;
color:rgb(249, 105, 1);
}

.head-2 h2{
  color: #ffffff;
}



.reasons {
    font-size: 3rem;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    background-color:transparent;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10rem;
  }
  
  .reasons h1 {
    font-size: 1.5rem;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    white-space: nowrap; 

  }
  
  #ans
  {
    font-size: 5rem;
    display: flex;
    background-color:transparent;
    align-items: center;
    justify-content: center;
    color: rgb(255, 251, 0);
  }

  .image-container
  {
    width: 100vw;
    height: 200px;
    position: absolute;
    z-index: -10;
    transform: translateY(-120px);
  }

  .image-container img
  {
    width: 100%;
    height: 400%;
    object-fit:fill;
    filter: blur(8px);
  }