/* #type
{
    width: 500px;
    height: 500px;
    background-color: #cd6d6d;
    color: #020102;
} */

.head-1,
.head-2
{
    width: 100vw;
    height: 500px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(177, 248, 149);
}

.head-2
{
    background-color:transparent;
    font-size: 4rem;
    /* position: relative; */
}

.head-2 span
{
background-color: #024315;
font-family: 'Teko', sans-serif;
}

.head-2 h2{
    color: rgb(0, 0, 0);
    background-color: black;
}

.reasons {
    font-size: 3rem;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    background-color:transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .reasons h1 {
    font-size: 1.5rem;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    white-space: nowrap; 

  }
  
  #ans
  {
    font-size: 5rem;
    display: flex;
    background-color:transparent;
    align-items: center;
    justify-content: center;
    color: rgb(245, 224, 192);
  }

  .image-container
  {
    width: 100vw;
    height: 200px;
    position: absolute;
    z-index: -10;
    transform: translateY(-120px);
  }

  .image-container img
  {
    width: 100%;
    height: 400%;
    object-fit:fill;
    filter: blur(15px);
  }

  .maincontainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 4px solid #1ecf37;
    /* box-shadow: 2px 2px 2px 13px #1ecf37; */
    border-radius:100% 0% 100% 0% / 47% 100% 0% 53% ;
    bottom: 0;
}
footer .maincontainer {
    background-color: black;
}

.row{
    display: flex;
    justify-content: space-evenly ;
    
    color: #fff;
    padding: 4rem 4rem;
}

img{
    width: 7rem;
    height: 7rem;
}
.content{
    display: block;
    position: relative;
    margin-right: 25px;

}
.cols{
    margin: 5px 5rem;
    row-gap: 5px;
}
.cols ul{
    list-style: none;

} 
.cols h4{
    color: white;
    font-size: 25px;
    margin-bottom: 40px;
    position: relative;
    width: 100px;
    text-transform: uppercase;
}

footer .cols ul li a{
    color: #fff;
    /* line-height: 1rem;     to try to keep the line height betweent the elements */  
    /* padding: 5px 5px; */
    text-decoration: none;
    font-size: 1rem;
    opacity:0.6;
    transition: 0.65s;
}

footer .cols ul li{
    padding: 5px 5px;
}

footer .cols ul li a:hover{
    font-size: 1.5rem;
    opacity: 1;
    border-bottom: 1px solid white;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #fff;
}

.underline{
    width: 100%;
    margin-top: 0.5rem;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    margin-bottom: 1rem;
}
.underline span{
    width: 15px;
    height: 100%;
    background-color: #ffffff;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 12px;
    animation: moving 2s linear infinite;
}


@keyframes moving {
    0%{
        left: 0px;
    }
    100%{
        left: 100%;
    }
    
}
/* 
.row{
    border-bottom: 2px solid #fff;
} */

.copy
{
    bottom: 20;
    width: 95vw;
    margin-left: 30px;
    height: 2px;
    background-color:#ffffff ;
    transform: translateY(-60px);
}
.copy h2{
    color: white;
    text-align: center;
    font-size: 12px;
    /* margin-top: 1rem; */
    padding-top: 10px;
}

.footer{
    bottom: 0;
}
