* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #f0eacd;
    width: 700px;
    margin: 0 auto;
}

.header {
    background-color: #8bc34a;
    text-align: center;
    padding: 20px;
}

.header h1 {
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 48px;
}

.images{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#kapharot {
    animation: rotation 10s infinite linear;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


#kaphaman {
    animation: updown 2s linear infinite;
    background-color: transparent;
}

@keyframes updown {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-100px);
    }
    
    100% {
        transform: translateY(0px);
    }
}

.intro,
.description,
.location,
.signs,
.problems {
    background-color: #c5e1a5;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.intro p,
.description p,
.location p {
    font-size: 23px;
    text-align: justify;
    margin-bottom: 20px;
}

h2 {
    font-size: 35px;
    margin-top: 20px;
}

ul {
    list-style-type: circle;
    padding-left: 20px;
}

li {
    font-size: 18px;
    margin: 5px 0;
}
