* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(240, 234, 206);
}

html,
body {
    /* margin-left: 20px;
    margin-right: 20px;
    height: 100%;
    width: 100%; */
    width:700px;
    height: 1200px;
    margin: auto;
 
}

h1{
    color: darkolivegreen;
    font-family: 'Bebas Neue';
    font-size: 500%;
    text-align: center;
}

h2{
    font-family: 'Source Sans 3';
    font-size: 30px;
}