#learn-head{
    font-size: 2rem;
    border-bottom: 5px solid black;
    padding-bottom: 0.1rem;
    margin-bottom: 1rem;
    margin-right: 65rem;
}
.learn-p1{
    font-size: 1.2rem;
    
}
.learn-h2{
    margin-top: 1rem;
}

.learn-p2{
    margin-top: 1rem;
    font-size:1.2rem;
    margin-bottom: 1rem;

}

.learn-container{
    word-wrap: none;
    margin-left: 5rem;
    margin-right: 5rem;
}

  