.yoga-container {
    background-color: rgba(255, 152, 0, 0.75);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.yoga-heading {  /* Upper most part of the webpage */

    background-color: rgba(255, 152, 0, 0.75);
    border: 5px solid black;
    font-size: 4rem;    
    text-align: center;
    border-radius: 12px;

}

.yoga-card {
    height: 190px;
    position: relative;
    width: 300px;
    border-radius: 15px;
    box-shadow: 2px 5px 23px 12px #000;
    transition: 0.3s;
    padding-top: 30px ;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    cursor: pointer;
    margin: 3rem;
    margin-top: 2rem;
}

.yoga-card:hover {
    height: 350px;
    box-shadow: 2px 2px 3px 4px #000;
}

.yoga-image {
    position: relative;
    margin-top: 1rem;
    height: auto;
    width: 100%;
    transform: translateY(-20px);
    transition: 5s;
}

.yoga-img:hover {
    box-shadow: 3px 3px 20px rgba(2, 3, 3, 3);
}

.yoga-image img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}

.yoga-content {
    padding: 2px 20px;
    /* border: 2px solid red; */
    font-family: 'Oswald', sans-serif;
    align-items: center;
    transform: translateY(-40px);
    transition: 2.5s;
    /* width: 100px;
    height: 100px;
    box-sizing: border-box;
    overflow: auto;
    text-decoration: none; */
    opacity: 0;
    text-transform: uppercase;
}

.yoga-content:hover {
    /* text-shadow: 3px 12px 10px; */
    margin: auto;
}

.yoga-card:hover > .yoga-content {
    opacity: 1;
    transform: translateY(0.0001px);
}

.yoga-card-title{
    padding-right: 5rem;
}