body {
    background-image: linear-gradient(rgb(86, 221, 86),white);
}

header {
    text-align: center;
    padding: 20px;
    background-color: #2c5704;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    width: 300px;
    background-color: #F0FFCE;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:hover {
    transform: scale(1.05);
}

.image-container {
    height: 200px;
    width:200px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content h5 {
    font-size: 1rem;
    margin-bottom: 10px;
}

.content p{
    font-size: 1rem;
    margin-bottom: 5px;
}
.content h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}


button {
    width: 100px;
    height: 40px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid black;
    transition: background-color 0.3s ease;
    text-decoration: none; 
}


button:hover {
    background-color: #9ceb7a;
    color: white;
}
