.navbar {
    max-width: 100vw;
    height: 60px;
    width: 100%;
    transition: 0.2s;
  }
  
  .navbar ul {
    list-style: none;
    background: rgba(10, 41, 1, 0.8);
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li {
    position: relative;
    text-transform: uppercase;
    height: 100%;
    transition: 0.2s;
  }
  
  .navbar ul li a {
    display: block;
    padding: 15px 10px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    transition: 0.2s;
  }
  
  .navbar ul li ul.dropdown1,
  .navbar ul li ul.dropdown3 {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 200px; /* Adjust width as needed */
    background-color: #4caf50;
    padding: 10px;
    z-index: 999;
  }
  
  .navbar ul li:hover ul.dropdown1,
  .navbar ul li:hover ul.dropdown3 {
    display: block;
  }
  
  .navbar ul li:hover {
    background-color: rgba(231, 247, 238, 0.8);
  }
  
  .navbar ul li:hover > a {
    color: black;
  }
  
  .navbar ul li ul.dropdown1 li,
  .navbar ul li ul.dropdown3 li {
    display: block;
    padding: 10px;
  }
  
  .navbar ul li ul.dropdown1 li:hover,
  .navbar ul li ul.dropdown3 li:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
  }
  