/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

.disease {
    width: 100vw;
    height: 100%;
    padding: 1rem;
    
}


.videos {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(46, 99, 57);
    padding: 10px;
}


.videos iframe {
    width: 48%;
    height: 315px;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    padding: 2rem;
}

#title {
    width: 250px;
    height: 80px;
    font-size: 3rem;
    color: white;
    background-color: rgb(46, 99, 57);
    border-radius: 15px;
    text-align: center;
}

.info
{
    font-size: 20px;
    margin: 2rem;
}

.cards
{
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(150, 203, 119);
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

footer .maincontainer {
    background-color: black;
}

.row{
    display: flex;
    justify-content: space-evenly ;
    
    color: #fff;
    padding: 4rem 4rem;
}

img{
    width: 7rem;
    height: 7rem;
}
.content{
    display: block;
    position: relative;
    margin-right: 25px;

}
.cols{
    margin: 5px 5rem;
    row-gap: 5px;
}
.cols ul{
    list-style: none;

} 
.cols h4{
    color: white;
    font-size: 25px;
    margin-bottom: 40px;
    position: relative;
    width: 100px;
    text-transform: uppercase;
}

footer .cols ul li a{
    color: #fff;
    /* line-height: 1rem;     to try to keep the line height betweent the elements */  
    /* padding: 5px 5px; */
    text-decoration: none;
    font-size: 1rem;
    opacity:0.6;
    transition: 0.65s;
}

footer .cols ul li{
    padding: 5px 5px;
}

footer .cols ul li a:hover{
    font-size: 1.5rem;
    opacity: 1;
    border-bottom: 1px solid white;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #fff;
}

.underline{
    width: 100%;
    margin-top: 0.5rem;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    margin-bottom: 1rem;
}
.underline span{
    width: 15px;
    height: 100%;
    background-color: #ffffff;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 12px;
    animation: moving 2s linear infinite;
}


@keyframes moving {
    0%{
        left: 0px;
    }
    100%{
        left: 100%;
    }
    
}
/* 
.row{
    border-bottom: 2px solid #fff;
} */

.copy
{
    bottom: 20;
    width: 95vw;
    margin-left: 30px;
    height: 2px;
    background-color:#ffffff ;
    transform: translateY(-60px);
}
.copy h2{
    color: white;
    text-align: center;
    font-size: 12px;
    /* margin-top: 1rem; */
    padding-top: 10px;
}

.footer{
    top: 100;
    bottom: 0;
    position: absolute;
}


#bodytypes{
   display: none;
}

