.bts {
    height: auto;
    padding: 20px;
}

.bts-cards {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.bts-card {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(64, 81, 54);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.bts-card a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.bts-card:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.bts-description {
    text-align: center;
    font-size: 0.9em;
    color: #fff;
    padding: 0 10px;
}

.bts-content {
    margin-top: 40px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.bts-content h2 {
    color: #96cb77;
}

.bts-content p {
    font-size: 1em;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
}
