* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(240, 234, 206);
}

html, body
{
  
  display: flex;
  justify-content: center;
  align-items: center;

}

#map{
    align-items: left;
}


.instructions
{
    width: 500px;
    height: 500px;
    border: 2px solid salmon ;
    
}

.div h2
{
    font-size: 2rem;
    line-height: 3rem;
}

.div{
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    justify-content: center;
    align-items: center;

}


h1:hover{
    
}

