/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(240, 234, 206);
    margin: 0; 
    padding: 0; 

}

.bgimg {
    width: 100vw;
    height: 100vh; 
    overflow: hidden; 
    position: relative; 
}

.bgimg {
    width: 100vw;
    height: 100vh; 
    overflow: hidden; 
    position: relative; 
}
   .bgimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(15px);
}


.container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute; 
    z-index: 1;
    padding: 20px; 
}

.bgimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(15px);
}


.container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute; 
    z-index: 1;
    padding: 20px; 
}


#map {
    box-shadow: 0px 0px 10px rgba(228, 15, 15, 0.9);
    width: 100%; 
    max-width: 640px;
    margin: 20px 0; 
    position: absolute;
    transform: translateX(-200px);
}

.instructions {
    max-width: 500px;
    padding: 20px;
    border: 2px solid salmon;
    box-shadow: 0px 0px 10px rgba(228, 15, 15, 0.9);
    z-index: 2;
    background-color: white;
    margin: 20px 0;
    position: absolute;
    transform: translateX(80%);
}


.instructions h2 {
    font-size: 18px;
    margin-top: 10px;
    line-height: 1.5;
}
#map {
    box-shadow: 0px 0px 10px rgba(228, 15, 15, 0.9);
    width: 100%; 
    max-width: 640px;
    margin: 20px 0; 
    position: absolute;
    transform: translateX(-200px);
}

.instructions {
    max-width: 500px;
    padding: 20px;
    border: 2px solid salmon;
    box-shadow: 0px 0px 10px rgba(228, 15, 15, 0.9);
    z-index: 2;
    background-color: white;
    margin: 20px 0;
    position: absolute;
    transform: translateX(80%);
}


.instructions h2 {
    font-size: 18px;
    margin-top: 10px;
    line-height: 1.5;
}