* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.books-container {
    width: 100vw;
    height: auto;
    background-color: #f5f0c1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    flex-wrap: wrap;
}

.books-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    background-color: #f1eead;
    position: relative;
    border-radius: 15px;
    perspective: 1000px; /* Increased for better 3D effect */
    margin: 2rem;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.books-card:hover .books-card-front {
    transform: rotateY(-180deg);
}

.books-card-front, .books-card-back {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.books-card-front {
    background-color: #124c44;
    color: white;
    transform: rotateY(0deg);
    z-index: 2;
    transition: transform 0.6s;
}

.books-card-back {
    background-color: #97d983;
    transform: rotateY(180deg);
    z-index: 1;
}

.books-card-front-image, .books-card-back-image {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.books-card-front-image img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}

.books-card-back p {
    margin: 1rem 0;
    text-align: center;
    color: black;
}

#books-btn {
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 100px;
    height: 40px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    align-content: center;
    border-radius: 15px;
    background-color: white;
    border: 1px solid #000000;
}

#books-btn:hover {
    background-color: #e7b64c;
    color: white;
}
